.hero {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.539), rgb(0, 0, 0)), url('../assets/images/hero-img.png');
    background-repeat: no-repeat;
    background-position: 0% top;
    background-size: cover;

    .hero__inner {
        width: 50%;
        height: 70%;
        margin: auto;
        text-align: center;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        .hero__innerText {
            h2 {
                font-size: 40px;
                width: 80%;
                margin: 0 auto;
                letter-spacing: 1.2px;
            }

            p {
                font-size: 18px;
                width: 60%;
                margin: 30px auto;
            }

            button {
                background-image: linear-gradient(rgba(29, 205, 254, 100%), rgba(103, 58, 224, 100%));
                width: 213px;
                height: 50px;
                flex-grow: 0;
                padding: 10px 45px;
                border: none;
                border-radius: 50px;
                color: white;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1.2px;
                font-size: 18px;

                &:hover, &:focus {
                    background-image: linear-gradient(rgba(29, 205, 254, 70%), rgba(103, 58, 224, 90%));
                }
                &:active {
                    background-image: linear-gradient(rgba(29, 205, 254, 100%), rgba(103, 58, 224, 90%));
                }
            }
        }
    }
}