.login {
    background-color: #1A1A1A;
    color: #fff;
    padding-block: 5rem;

    .login__orSeparator {
        position: relative;
        z-index: 10;

        p {
            position: relative;
            z-index: 1;
            width: 10%;
            margin: auto;
            background-color: #333333;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 12px;
            border-bottom: 1px solid gray;
            z-index: 0;
            width: 100%;
        }
    }

    .login__inner {
        width: 30%;

        @media screen and (max-width: 1024px) {
            width: 50%;
        }

        @media screen and (max-width: 600px) {
            width: 80%;
        }

        margin: auto;
        background-color: #333333;
        padding: 30px;
        border-radius: 10px;

        .login__googleLoginBtn {
            background-color: #fff !important;
            color: black !important;

            &:hover,
            &:focus {
                background-color: rgb(214, 212, 212) !important;
            }
        }
    }
}